<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <!-- Include the navbar partial from the "partials" folder -->
  <%- include('partials/navbar') %>

  <h1>Hello, <%= school %> students!</h1>
  <p>Current time: <%= currentDate %></p>
</body>
</html>
